{% extends '../blocks/base.html' %}

{% block title %}NeuralNet | Reset Password{% endblock title %}


{% block body %}


<section class="w-full flex justify-center items-center mx-auto h-screen">
    <div action="" method="post" class="bg-slate-600 shadow-lg rounded-lg px-10 py-12 mb-4 w-1/3">

        {% if messages %}

        {% for message in messages %}
        <div class="{% if message.tags %}{{message.tags}}{% endif %} px-4 py-3 mb-3 rounded relative" role="alert">
            <strong class="font-bold">Alert</strong>
            <span class="block sm:inline">{{message}}</span>
        </div>
        {% endfor %}

        {% endif %}

        <form action="" method="post" class="mb-6">
            {% csrf_token %}
            <div class="mb-3">
                <label class="block text-lg f-medium mb-2 capitalize" for="email">
                    email
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="email" type="text" placeholder="Email Address" name="email" value="{{email}}">
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="text-white bg-blue-500 transition-all duration-200 hover:bg-blue-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline uppercase"
                    type="submit" name="form1">
                    Send OTP
                </button>
            </div>
        </form>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="block text-lg f-medium mb-2 capitalize" for="otp">
                    OTP
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="otp" type="text" placeholder="enter otp" name="otp" value="{{otp}}">
            </div>
            <div class="grid grid-cols-2 gap-3 mb-3">
                <div class="mb-3">
                    <label class="block text-lg f-medium mb-2 capitalize" for="password">
                        New Password
                    </label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
                        id="password" type="password" placeholder="*********" name="password" value="{{password}}">
                </div>
                <div class="mb-3">
                    <label class="block text-lg f-medium mb-2 capitalize" for="cpassword">
                        Confirm Password
                    </label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
                        id="cpassword" type="password" placeholder="*********" name="cpassword" value="{{cpassword}}">
                </div>
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="text-white bg-blue-500 transition-all duration-200 hover:bg-blue-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline uppercase"
                    type="submit" name="form2">
                    Reset Password
                </button>
            </div>
        </form>

    </div>
</section>


{% endblock body %}