@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-color {
  color: #28bfc0;
}

.logo {
  font-family: "Lobster Two", cursive;
}

.f-light {
  font-family: "Ubuntu", serif;
  font-weight: 300;
}

.f-medium {
  font-family: "Ubuntu", serif;
  font-weight: 500;
}

.f-bold, .square_btn, .btn1 {
  font-family: "Ubuntu", serif;
  font-weight: 700;
}

.section {
  padding-top: 115px;
  padding-bottom: 50px;
}

.square_btn {
  text-transform: uppercase;
  display: inline-block;
  padding: 1em 2.8em;
  text-decoration: none;
  color: #28bfc0;
  border: solid 3.5px #28bfc0;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.square_btn:hover {
  background: white;
  color: #28bfc0;
  border-color: white;
}

.response-img {
  cursor: pointer;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.response-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
  z-index: 100;
}

#listening-box {
  z-index: 1000;
}

#listening-box #listening-close-btn {
  z-index: 1200;
}

.content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.waviy {
  position: relative;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #28bfc0;
  text-transform: uppercase;
  -webkit-animation: flip 1.2s infinite;
          animation: flip 1.2s infinite;
  -webkit-animation-delay: calc(0.2s * var(--i));
          animation-delay: calc(0.2s * var(--i));
}

@-webkit-keyframes flip {
  0%,
  80% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes flip {
  0%,
  80% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.circle {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px #ffffff;
          box-shadow: 0 0 15px #ffffff;
  -webkit-animation: glow 1s ease-in-out infinite;
          animation: glow 1s ease-in-out infinite;
}

@-webkit-keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ffffff;
            box-shadow: 0 0 0 0 #ffffff;
  }
  50% {
    -webkit-box-shadow: 0 0 0 15px #ffffff;
            box-shadow: 0 0 0 15px #ffffff;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #ffffff;
            box-shadow: 0 0 0 0 #ffffff;
  }
}

@keyframes glow {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ffffff;
            box-shadow: 0 0 0 0 #ffffff;
  }
  50% {
    -webkit-box-shadow: 0 0 0 15px #ffffff;
            box-shadow: 0 0 0 15px #ffffff;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #ffffff;
            box-shadow: 0 0 0 0 #ffffff;
  }
}

header {
  background: none;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  position: fixed;
  top: 0;
  left: 0;
}

.query-box-container,
.result-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.query-box-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.result-box-container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.query-box,
.result-box {
  color: white;
  max-width: 65%;
  margin: 5px 0;
  border-radius: 10px;
  padding: 0.65rem 1rem;
}

.query-box {
  background-color: #28bfc0;
  border-top-right-radius: 0;
}

.result-box {
  background-color: #1f1f26;
  border-top-left-radius: 0;
}

.glass-form {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border: none;
}

.glass-form label, .glass-form h2 {
  color: white;
}

.glass-form input, .glass-form select, .glass-form option {
  color: white;
  border-radius: 4px;
  outline: none;
  border: none;
  background: #1c1c24;
  border: 2px solid #1c1c24;
}

.glass-form input:focus, .glass-form select:focus, .glass-form option:focus {
  border: 2px solid #28bfc0;
}

.btn1 {
  width: 100%;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.65em 2em;
  background: white !important;
  border-radius: 4px;
  color: #28bfc0 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 2px solid white;
  text-transform: uppercase;
}

.btn1:hover {
  background: none !important;
  border: 2px solid #28bfc0;
}

.links-box a {
  color: #28bfc0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.links-box a:hover {
  color: #0d8a8a;
}

#login {
  background: url("/static/images/auth/pexels-eberhard-grossgasteiger-1421903.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#signin {
  background: url("/static/images/auth/pexels-çağatay-demir-2189880.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#reset-password {
  background: url("/static/images/auth/pexels-çağatay-demir-2189880.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#email-verify {
  background: url("/static/images/auth/pexels-çağatay-demir-2189880.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#profile {
  background: url("/static/images/auth/pexels-çağatay-demir-2189880.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */