<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    {% block links %}{% endblock links %} 

    <title>{% block title %}{% endblock title %}</title>
    
    {% block styles %}{% endblock styles %} 
</head>
<body class="bg-slate-800">
    <header class="stickty top-0 left-0 w-full py-4 px-5 shadow-lg bg-slate-600">
        <nav class="flex items-center justify-between">
            <div id="logo">
                <a href="/"><img src="/static/images/full-logo-white-sm.png" class="w-40" alt="NEURALNET" srcset=""></a>
            </div>
            <ul class="capitalize flex items-center justify-center text-white">
                <li class="px-2 text-xl"><a href="{% url 'chitchat' %}" class="no-underline f-medium">ChitChat</a></li>
                <li class="px-2 text-xl"><a href="{% url 'codegenie' %}" class="no-underline f-medium">CodeGenie</a></li>
                <li class="px-2 text-xl"><a href="{% url 'artiflex' %}" class="no-underline f-medium">ArtiFlex</a></li>
            </ul>
        </nav>
    </header>

    {% block body %}
    {% endblock body %}
    
</body>
</html>