// logo font
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");

// body font
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//utility classes
.logo {
  font-family: "Lobster Two", cursive;
}

.f-light {
  font-family: "Ubuntu", serif;
  font-weight: 300;
}
.f-medium {
  font-family: "Ubuntu", serif;
  font-weight: 500;
}
.f-bold {
  font-family: "Ubuntu", serif;
  font-weight: 700;
}

.square_btn {
  @extend .f-bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 1em 2.8em;
  text-decoration: none;
  color: white;
  border: solid 2px white;
  border-radius: 4px;
  transition: .4s;
}

.square_btn:hover {
  background: white;
  color: black;
}

.response-img {
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

//overlay
#overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
  z-index: 100;
}

//LISTENIGN ANIMATION
#listening-box {
  z-index: 1000;
  #listening-close-btn {
    z-index: 1200;
  }
}
.content-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 1.2s infinite;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
.circle {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 15px #ffffff;
  animation: glow 1s ease-in-out infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 #ffffff;
  }
  50% {
    box-shadow: 0 0 0 15px #ffffff;
  }
  100% {
    box-shadow: 0 0 0 0 #ffffff;
  }
}


